# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [12]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

balt_df = pd.read_csv('baltimore.csv')
bost_df = pd.read_csv("boston.csv")
ny_df = pd.read_csv("new-york.csv")
phil_df = pd.read_csv("philadelphia.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [13]:
# Clean your data here!
balt_df.info() 
bost_df.info() 
ny_df.info() 
phil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   153 non-null    object
 1   City Name        153 non-null    object
 2   Type             0 non-null      float64
 3   Package          153 non-null    object
 4   Variety          151 non-null    object
 5   Sub Variety      25 non-null     object
 6   Grade            0 non-null      float64
 7   Date             153 non-null    object
 8   Low Price        153 non-null    int64
 9   High Price       153 non-null    float64
 10  Mostly Low       153 non-null    int64
 11  Mostly High      153 non-null    float64
 12  Origin           148 non-null    object
 13  Origin District  0 non-null      float64
 14  Item Size        128 non-null    object
 15  Color            31 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     24 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           153 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(12), int64(2), object(11)
memory usage: 30.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Type             0 non-null      float64
 3   Package          352 non-null    object
 4   Variety          352 non-null    object
 5   Sub Variety      28 non-null     object
 6   Grade            0 non-null      float64
 7   Date             352 non-null    object
 8   Low Price        352 non-null    int64
 9   High Price       352 non-null    int64
 10  Mostly Low       352 non-null    int64
 11  Mostly High      352 non-null    int64
 12  Origin           352 non-null    object
 13  Origin District  66 non-null     object
 14  Item Size        348 non-null    object
 15  Color            304 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     46 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           352 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 68.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   112 non-null    object
 1   City Name        112 non-null    object
 2   Type             0 non-null      float64
 3   Package          112 non-null    object
 4   Variety          112 non-null    object
 5   Sub Variety      18 non-null     object
 6   Grade            0 non-null      float64
 7   Date             112 non-null    object
 8   Low Price        112 non-null    int64
 9   High Price       112 non-null    int64
 10  Mostly Low       112 non-null    int64
 11  Mostly High      112 non-null    int64
 12  Origin           112 non-null    object
 13  Origin District  15 non-null     object
 14  Item Size        104 non-null    object
 15  Color            21 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     25 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           112 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 22.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   57 non-null     object
 1   City Name        57 non-null     object
 2   Type             0 non-null      float64
 3   Package          57 non-null     object
 4   Variety          57 non-null     object
 5   Sub Variety      12 non-null     object
 6   Grade            0 non-null      float64
 7   Date             57 non-null     object
 8   Low Price        57 non-null     int64
 9   High Price       57 non-null     int64
 10  Mostly Low       57 non-null     int64
 11  Mostly High      57 non-null     int64
 12  Origin           57 non-null     object
 13  Origin District  0 non-null      float64
 14  Item Size        45 non-null     object
 15  Color            0 non-null      float64
 16  Environment      0 non-null      float64
 17  Unit of Sale     11 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           57 non-null     object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(4), object(10)
memory usage: 11.3+ KB

In [15]:
for col in balt_df.columns:
    pct_missing = np.mean(balt_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    

for col in bost_df.columns:
    pct_missing = np.mean(bost_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
    
for col in ny_df.columns:
    pct_missing = np.mean(ny_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
    
for col in phil_df.columns:
    pct_missing = np.mean(phil_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [18]:
balt_df.shape

(153, 25)

In [17]:
bost_df.shape

(352, 25)

In [19]:
ny_df.shape

(112, 25)

In [20]:
phil_df.shape

(57, 25)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [21]:
bost_ny = bost_df.merge(ny_df, how="outer", indicator=True)
bost_ny

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,_merge
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,left_only
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,left_only
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,left_only
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,left_only
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,PUMPKINS,NEW YORK,NaN,bushel cartons,MINIATURE,NaN,NaN,09/09/2017,32,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,right_only
460,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,right_only
461,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,right_only
462,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,right_only
463,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,right_only

In [56]:
# Combine the four dataframes into one!

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [57]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!